$body-background-color: $bg;
$sidebar-color: $bgPlaceholder;
$border-color: $keyline;

$body-text-color: $label;
$body-heading-color: $title;
$nav-child-link-color: $ctrl;
$search-result-preview-color: $ctrl;

$link-color: $ctrl;
$btn-primary-color: $ctrl;
$base-button-color: $bg;

$code-background-color: $bgPlaceholder;
$search-background-color: $bgPlaceholder;
$table-background-color: $bgPlaceholder;
$feedback-color: darken($sidebar-color, 3%);
