@font-face {
  font-family: 'Roboto Mono';
  src: url('../../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('../../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.woff2') format('woff2-variations');
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('../../fonts/DM_Mono/DMMono-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

$base-font-family: "Roboto Mono", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "DM Mono", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$bg: #1E1E1E;
$bgPlaceholder: #252525;
$ctrl: #3897FE;
$ctrlBg: #2B2B2B;
$ctrlDisabled: #575757;
$ctrlDisabledLabel: #254160;
$ctrlHover: #5FABFE;
$footerBg: #252525;
$keyline: #3F3F3F;
$label: #DDDDDD;
$labelCaption: #888;
$labelPlaceholder: #7D7D7D;
$labelLegal: #454545;
$navBg: #2B2B2B;
$navLabel: #DDDDDD;
$navLabelDisabled: #575757;
$navLabelHover: #FFFFFF;
$navLabelSelected: #E8E8E8;
$title: #E8E8E8;
$badInputBdr: #FF3333;
$badInputBg: #FF3333;
$badInputLabel: #FFFFFF;
$error: #FF3333;
$errorBdr: #4B2222;
$errorBg: #3F1F1F;
$errorHover: #FF4747;
$info: #3897FE;
$infoBdr: #23364B;
$infoBg: #202933;
$infoHover: #5FABFE;
$success: #007D1B;
$successBdr: #223718;
$successBg: #1F291A;
$successHover: #1A8A32;
$warning: #FFD60A;
$warningBdr: #4B431A;
$warningBg: #342F1B;
$warningHover: #FFDA22;

$clrBlue: #1184FF;
$clrGreen: #31D158;
$clrOrange: #FF9F0A;
$clrPurple: #BF5AF2;
$clrTeal: #64D1FF;
$clrGray: #98989D;
$clrIndigo: #5E5BE6;
$clrPink: #FF573F;
$clrRed: #FF453A;
$clrMagenta: #DA0F47;
$clrYellow: #FFD60A;

$brand-color: $title !default;
$brand-color-light: lighten($brand-color, 40%) !default;
$brand-color-dark: darken($brand-color, 25%) !default;

$site-title-color: $brand-color !default;

$text-color: $label !default;
$text-color-5: darken($text-color, 5%) !default;
$text-color-10: darken($text-color, 10%) !default;
$text-color-15: darken($text-color, 15%) !default;
$text-color-20: darken($text-color, 20%) !default;
$text-color-25: darken($text-color, 25%) !default;

$background-color: $bg !default;
$code-background-color: $bgPlaceholder !default;

$link-base-color: $ctrl !default;
$link-visited-color: $ctrl !default;
$link-hover-color: $ctrlHover !default;

$border-color-01: $keyline !default;
$border-color-02: lighten($brand-color, 35%) !default;
$border-color-03: $brand-color-dark !default;

$table-text-color: $text-color, 18% !default;
$table-zebra-color: $bgPlaceholder !default;
$table-header-bg-color: lighten($bgPlaceholder, 5%) !default;
$table-header-border: $keyline !default;
$table-border-color: $border-color-01 !default;
