@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@0;1&family=Roboto+Mono:ital@0;1&display=swap');

$base-font-family: "Roboto Mono", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$code-font-family: "DM Mono", "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$bg: #1E1E1E;
$bgPlaceholder: #252525;
$ctrl: #3897FE;
$ctrlBg: #2B2B2B;
$ctrlDisabled: #575757;
$ctrlDisabledLabel: #254160;
$ctrlHover: #5FABFE;
$footerBg: #252525;
$keyline: #3F3F3F;
$label: #DDDDDD;
$labelCaption: #888;
$labelPlaceholder: #7D7D7D;
$labelLegal: #454545;
$navBg: #2B2B2B;
$navLabel: #DDDDDD;
$navLabelDisabled: #575757;
$navLabelHover: #FFFFFF;
$navLabelSelected: #E8E8E8;
$title: #E8E8E8;
$badInputBdr: #FF3333;
$badInputBg: #FF3333;
$badInputLabel: #FFFFFF;
$error: #FF3333;
$errorBdr: #4B2222;
$errorBg: #3F1F1F;
$errorHover: #FF4747;
$info: #3897FE;
$infoBdr: #23364B;
$infoBg: #202933;
$infoHover: #5FABFE;
$success: #007D1B;
$successBdr: #223718;
$successBg: #1F291A;
$successHover: #1A8A32;
$warning: #FFD60A;
$warningBdr: #4B431A;
$warningBg: #342F1B;
$warningHover: #FFDA22;