---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  <!-- {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <p>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%} -->

  <section id="about">
    <h1 class="sectionTitle">About</h1>
    <p>My name is Mykiele Grawey and I'm a student currently learning Graphic Design. I've created this site to show my collection of projects and ideas that I've put together in, and out of, school.</p>
  </section>

  {%- if site.projects.size > 0 -%}
    <section id="projects">
      <h1 class="sectionTitle">Projects</h1>
      <ul class="post-list">
        {%- for project in site.projects -%}
          <li>
            <p>
              <a class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title | escape }}
              </a>
          </p>
        </li>
        {%- endfor -%}
      </ul>
    </section>
  {%- endif -%}

  {%- include footer.html -%}


</div>
