@charset "utf-8";
// Syntax highlighting styles should be adjusted appropriately for every "skin"
// ----------------------------------------------------------------------------

.highlight {
  .c { color: $clrYellow; font-style: italic } // Comment
  .err { color: $error; background-color: #e3d2d2 } // Error
  .k { font-weight: bold } // Keyword
  .o { font-weight: bold } // Operator
  .cm { color: $clrYellow; font-style: italic } // Comment.Multiline
  .cp { color: $clrGray; font-weight: bold } // Comment.Preproc
  .c1 { color: $clrYellow; font-style: italic } // Comment.Single
  .cs { color: $clrGray; font-weight: bold; font-style: italic } // Comment.Special
  .gd { color: $label; background-color: #fdd } // Generic.Deleted
  .gd .x { color: $label; background-color: #faa } // Generic.Deleted.Specific
  .ge { font-style: italic } // Generic.Emph
  .gr { color: $clrRed } // Generic.Error
  .gh { color: $clrGray } // Generic.Heading
  .gi { color: $label; background-color: #dfd } // Generic.Inserted
  .gi .x { color: $label; background-color: #afa } // Generic.Inserted.Specific
  .go { color: $labelCaption } // Generic.Output
  .gp { color: $clrGray } // Generic.Prompt
  .gs { font-weight: bold } // Generic.Strong
  .gu { color: $clrGray } // Generic.Subheading
  .gt { color: $clrRed } // Generic.Traceback
  .kc { font-weight: bold } // Keyword.Constant
  .kd { font-weight: bold } // Keyword.Declaration
  .kp { font-weight: bold } // Keyword.Pseudo
  .kr { font-weight: bold } // Keyword.Reserved
  .kt { color: $clrIndigo; font-weight: bold } // Keyword.Type
  .m { color: $clrTeal } // Literal.Number
  .s { color: $clrPink } // Literal.String
  .na { color: $clrTeal } // Name.Attribute
  .nb { color:  $clrBlue} // Name.Builtin
  .nc { color: $clrIndigo; font-weight: bold } // Name.Class
  .no { color: $clrTeal } // Name.Constant
  .ni { color: $clrMagenta } // Name.Entity
  .ne { color: $clrMagenta; font-weight: bold } // Name.Exception
  .nf { color: $clrMagenta; font-weight: bold } // Name.Function
  .nn { color: darken($clrGray, 15%) } // Name.Namespace
  .nt { color:  saturate($clrIndigo, 15%)} // Name.Tag
  .nv { color: $clrTeal } // Name.Variable
  .ow { font-weight: bold } // Operator.Word
  .w { color: $clrGray } // Text.Whitespace
  .mf { color: $clrTeal } // Literal.Number.Float
  .mh { color: $clrTeal } // Literal.Number.Hex
  .mi { color: $clrTeal } // Literal.Number.Integer
  .mo { color: $clrTeal } // Literal.Number.Oct
  .sb { color: $clrPink } // Literal.String.Backtick
  .sc { color: $clrPink } // Literal.String.Char
  .sd { color: $clrPink } // Literal.String.Doc
  .s2 { color: $clrPink } // Literal.String.Double
  .se { color: $clrPink } // Literal.String.Escape
  .sh { color: $clrPink } // Literal.String.Heredoc
  .si { color: $clrPink } // Literal.String.Interpol
  .sx { color: $clrPink } // Literal.String.Other
  .sr { color: $clrGreen } // Literal.String.Regex
  .s1 { color: $clrPink } // Literal.String.Single
  .ss { color: $clrMagenta } // Literal.String.Symbol
  .bp { color: $clrGray } // Name.Builtin.Pseudo
  .vc { color: $clrTeal } // Name.Variable.Class
  .vg { color: $clrTeal } // Name.Variable.Global
  .vi { color: $clrTeal } // Name.Variable.Instance
  .il { color: $clrTeal } // Literal.Number.Integer.Long
}